@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


body {
    padding: 0;
}

header {
    width: 100%;
    position: fixed;
    z-index: 100;
}

.gridHeader {
    display: grid;
    grid-template-areas: "logo name search login register basket";
    grid-template-rows: 1fr;
    grid-template-columns: 6% 14% 1fr 6% 6% 6%;
    background-color: black;
}

#logoHeader {
    grid-area: logo;
    align-self: center;
    justify-self: center;
    display: inline;
    padding: 5px;
    width: 50px; 
    height: 50px;
}


#nameHeader {
    grid-area: name;
    align-self: center;
    color: #ffd460;
    font-family: 'Fredoka One', cursive;
    font-size: 24pt;
    background: linear-gradient(to left, #ea5455, #f07b3f, #ffd460);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#searchHeader {
    display: inline;
    grid-area: search;
    align-self: center;
}

#dropdownMenuButton {
    background: linear-gradient(to left, #ffd460, #f07b3f, #ea5455);
    color: black;
    padding: 5px;
}

.dropdown-item:hover {
    background: linear-gradient(to left, #ffd460, #f07b3f, #ea5455);
    color: white;
}

.btns {
    font-size: 20px;
    color: black;
    background: linear-gradient(to left, #ea5455, #f07b3f, #ffd460);
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    background-size: 200%;
    transition: .5s;
    
}

    .btns:hover {
        background-position: right;
        color: white;
        text-decoration: none;
    }

#loginHeader {
    grid-area: login;
    align-self: center;
    display: inline;
    padding: 5px;
    width: 40px;
    height: 40px;
}


#registerHeader {
    grid-area: register;
    align-self: center;
    padding: 5px;
    width: 40px;
    height: 40px;
}


#basketHeader {
    grid-area: basket;
    align-self: center;
    padding: 5px;
    width: 40px;
    height: 40px;
}

#carouselExampleCaptions, .carousel-item {
    width: 100%;
    height: 400px;
}


    .carousel-item img {
        width: auto;
        height: 100%;
        object-fit: cover;
    }



#carouselExampleCaptions {
    display: block;
    padding-top: 50px;
}

#carouselExampleCaptions, #carouselExampleCaptions {
    display: inline-block;
}

#hcategories {
    margin-top: 15px;
    text-align: center;
}

.gapBetweenCategories {
    height: 30px;
}

.row justify-content-between{
    margin-bottom: 15px;
}

.divImgCardCategories {
    height: 200px;
}

.headerCard {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis; /* Многоточие */
}

.imgCardCategories {
    width: 100%;
    height: 100%;
    object-fit: contain;
    text-align: center;
}

.card-sale {
    color:#a6a5a5;
}

.old-sale {
    text-decoration: line-through;
}

.now-sale {
    color: #ea5455;
    font-weight: bold;
}

.timerGood{
    font-weight: bold;
}

.infoCardQtyTimer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}


#getPhone {
    display: grid;
    grid-template-areas: 
        "header header" 
        "slider info";
    grid-template-rows: 20% 80%;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    height: 400px;
    margin: 0;
}

#getPhoneHeader {
    grid-area: header;
}

#getPhoneSlider {
    grid-area: slider;
}

#getPhoneInfo {
    grid-area: info;

}



















.categories, .cardsGoods {
    margin-top: 15px;
}

.categories, .cardsGoods {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.card-title {
    text-align: center;
}


.card-body {
    text-align: center;
}



#main_goods {
    display: grid;
    grid-template-areas: "filter_goods cards_goods";
    grid-template-columns: 15% 1fr;
    grid-template-rows: auto;
}

#filter_goods {
    grid-area: filter_goods;
    display: inline;
}

#cards_goods {
    grid-area: cards_goods;
    display: inline;
}

.filters {
    display: flex;
    flex-direction: column;
}

.custom-control custom-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.custom-control-label {
    font-size: 11pt;
}

.custom-control-input {
    width: 14px;
    height: 14px;
}

.custom-control-label::before {
    width: 14px;
    height: 14px;
}

.custom-control-label::after {
    width: 14px;
    height: 14px;
}









.checkbox-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

    .checkbox-container label {
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 10pt;
        margin-bottom: 0;
        margin-left: 10px;
    }

    .checkbox-container input[type='checkbox'] {
        cursor: pointer;
        opacity: 0;
        width: 1px;
        height: 1px;
        color: black;
        background-color: black;
    }

    .checkbox-container label::before {
        content: '';
        width: 14px;
        height: 14px;
        border-radius: .15em;
        border: .05em solid black;
        margin-right: 3px;
    }

    .checkbox-container label:hover::before,
    .checkbox-container input[type='checkbox']:hover + label::before {
        background-color: black;
    }



    .checkbox-container input[type='checkbox']:disabled + label,
    .checkbox-container input[type='checkbox']:disabled {
        color: black;
        cursor: default;
    }

    .checkbox-container input[type='checkbox']:checked + label::before {
        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e") no-repeat;
        background-position: center center;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .checkbox-container input[type='checkbox']:disabled + label::before {
        background-color: black;
        border-color: black;
    }


    .checkbox-container h3 {
        margin-top: 10px;
        margin-bottom: 0px;
    }

.timerGood {
    font-size: 10pt;
    color: red;
}

.timer-body {
    display: flex;
    justify-content: center;
}

.oldPrice {
    font-size: 9pt;
    text-decoration: line-through;
    color: #b3b3b3;
}

.newPrice {
    font-size: 9pt;
    text-decoration: line-through;
    color: #b3b3b3;
}

.product-body {
    display: grid;
    grid-template-areas: "headline headline" "sliderProduct description";
    grid-template-columns: 50% 50%;
    padding-top: 60px;
}

.product-headline {
    grid-area: headline;
    padding-top: 10px;
    margin-bottom: 20px;
}

.product-slider {
    grid-area: sliderProduct;
}

.product-description {
    grid-area: description;
}
