
@{
    ViewData["Title"] = "CreateOrderCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div style="padding-top: 50px; padding-bottom: 30px;">
        <h3 style="text-align: center; margin-bottom: 20px;">Страница заказа</h3>
        <div style="display: flex; width: 100%; height: 100%; justify-content: center; align-items: center; flex-direction:column;">
            <form asp-controller="Home" asp-action="CreateOrderCustomer" method="post"
                  style="width: 400px; text-align: center;">
                <div class="form-group">
                    <label for="Surname">Введите свою фамилию</label>
                    <input type="text" class="form-control" placeholder="Иванов" name="Surname" style="text-align: center;">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Введите свое имя</label>
                    <input type="text" class="form-control" placeholder="Иван" name="Name" style="text-align: center;">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Введите свое отчество</label>
                    <input type="text" class="form-control" placeholder="Иванович" name="Patronymic" style="text-align: center;">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Введите свой адрес</label>
                    <input type="text" class="form-control" placeholder="Киев, отделение №14" name="Address" style="text-align: center;">
                </div>
                <input class="form-control" type="hidden" name="ProdId" value="@ViewData["prodId"]" />
                <input class="form-control" type="hidden" name="UserId" value="@ViewData["UserId"]" />


                <div>
                    <div class="col-md-offset-6 col-md-6" style="margin: auto;">
                        <input style="margin: auto; font-size: 14pt; padding: 5px 15px; border: none;" type="submit" class="btns" value="Создать заказ" />
                    </div>
                </div>
            </form>
        </div>
    </div>







