
@{
    ViewData["Title"] = "CreateOrderCustomer";
}

<h1>CreateOrderCustomer</h1>

@using (Html.BeginForm("CreateOrderCustomer", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div>
        <label class="col-md-5 control-label">Name</label>
        <div class="col-md-6">
            <input class="form-control" type="text" name="Name" value="MyName" />
        </div>
    </div>
    <div>
        <label class="col-md-5 control-label">Surname</label>
        <div class="col-md-6">
            <input class="form-control" type="text" name="Surname" value="MySurname" />
        </div>
    </div>
    <div>
        <label class="col-md-5 control-label">Patronymic</label>
        <div class="col-md-6">
            <input class="form-control" type="text" name="Patronymic" value="MyPatronymic" />
        </div>
    </div>
    <div>
        <label class="col-md-5 control-label">Address</label>
        <div class="col-md-6">
            <input class="form-control" type="text" name="Address" value="MyAddress" />
        </div>
    </div>
    <div>
        <label class="col-md-5 control-label">OrderSellerId</label>
        <div class="col-md-6">
            <input class="form-control" type="text" name="OrderSellerId" value="6" />
        </div>
    </div>


    <div>
        <div class="col-md-offset-6 col-md-6">
            <input type="submit" class="btn btn-primary" value="Создать объявление покупателя" />
        </div>
    </div>
}
