
@{
    ViewData["Title"] = "_Layout_Products";
    Layout = "_Layout";
}


    <main id="main_goods">
        <div id="filter_goods">
            @RenderSection("Filters")
        </div>
        <div id="cards_goods">
            @RenderBody()
        </div>
    </main>